<template>
	<div>
		<line-chart :data="chartData" ytitle="Response time (ms)" xtitle="Request # to service" height="800px"></line-chart>
		<button @click="refreshData('app')">Refresh App</button>
		<button @click="refreshData('perf')">Refresh Monitor</button>
	</div>
</template>

<script>
import axios from 'axios'

export default {
	name: 'Graphs',
	data() {
		return {
			chartData: []
		}
	},
	methods: {
		refreshData(param) {
			axios.get('http://tmsmongo.raeworsoftware.com/?collection=' + param).then((response) => {
				this.chartData = response.data
			})
		}
	}
}
</script>

<style scoped>

</style>
